<!DOCTYPE html>
<html>
    <!-- jquery for maximum compatibility -->
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="width=device-width, initial-scale=1" charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
    <title>Clinico</title>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>

    var HOST = '192.168.1.210';

    var title = "Clinico GmbH";
    var language = "";      
    var questions = "";
    var currentquestion = 0, picked, staticQ = true;
    var answers = {};
    var interval = undefined;
    var MRI = "http://localhost:3000/images/MRI.svg";
    var CLI = "http://localhost:3000/images/CLI.png";
    var BODY = "http://localhost:3000/images/body.jpg";

    var enIMG = "http://localhost:3000/images/en.png";
    var esIMG = "http://localhost:3000/images/es.jpg";
    var deIMG = "http://localhost:3000/images/de.png";
    var trIMG = "http://localhost:3000/images/tr.jpg";
    var ruIMG = "http://localhost:3000/images/ru.png";
    var bgIMG = "http://localhost:3000/images/bg.png";

    var staticQuestion = {
      "en":  "Question: Where do you feel the most pain? Please, point with your finger.",
      "de":  "Frage: Wo fühlen Sie den stärksten Schmerz? Zeigen Sie bitte mit Ihrem Finger.",
      "es":  "Pregunta: ¿Dónde sientes más dolor? Por favor, apunte con su dedo.",
      "tr":  "Soru: Lütfen vücudunuzun ağrıyan bölgesini gösteriniz.",
      "ru":  "Вопрос: Где вы чувствуете наибольшую боль? Пожалуйста, покажи пальцем.",
      "bg":  "Въпрос: Къде чувствате най-силна болка? Моля, посочете с пръст."
    };

    setInterval(function() {
      jQuery.get('http://' + HOST + ':3000/received.json', function(data) {
        console.log('gettttttting');
        questions = data;
      });
    }, 1000);

    jQuery(document).ready(function($){
        function htmlEncode(value){
          return $(document.createElement('div')).text(value).html();
        }

    function addChoices(choices){
      if(typeof choices !== "undefined" && $.type(choices) == "array"){
        $('#choice-block').empty();
        for(var i=0;i<choices.length; i++){
        $(document.createElement('a')).addClass('list-group-item list-group-item-action choices').attr('data-index', i).text(choices[i]).css({'text-align':'center'}).appendTo('#choice-block');
        }
      }
    }

    function nextQuestion(){
      //$('#explanation').empty();
      $('#question').text(questions[currentquestion][language]['question']);
      $('#pager').text('Question ' + Number(currentquestion + 1) + ' of ' + questions.length);
      if(questions[currentquestion].hasOwnProperty('image') && questions[currentquestion]['image'] != ""){
        if($('#question-image').length == 0){
          $(document.createElement('img')).addClass('question-image').attr('id', 'question-image').attr('src', questions[currentquestion]['image'].replace("localhost", HOST)).attr('alt', htmlEncode(questions[currentquestion]['question'])).insertAfter('#question');
        } else {
          $('#question-image').attr('src', questions[currentquestion]['image'].replace("localhost", HOST)).attr('alt', htmlEncode(questions[currentquestion][language]['question']));
        }
      } else {
        $('#question-image').remove();
      }
      addChoices(questions[currentquestion][language]['choices']);
      setupButtons();
      
      jQuery(document).ready(function($){
        $("#question").html(function(){
          var text= $(this).text().trim().split(" ");
          var first = text.shift();
          return (text.length > 0 ? "<span class='number'>"+ first +"</span> " : first) + text.join(" ");
        });
        
        $('p.pager').each(function(){
          var text = $(this).text().split(' ');
          if(text.length < 2)
            return;
          
          text[1] = '<span class="qnumber">'+text[1]+'</span>';
          $(this).html(
            text.join(' ')
          );
        });
      });  
    }

    function processQuestion(choice){

      answers[questions[currentquestion]["tag"]] = choice;

      currentquestion++;

      if(currentquestion == questions.length){

          console.log(answers);

          $.post('/answers', answers)
            .done(
              function(data){
                console.log(data);
              })
            .fail(
              function(error){
                throw error;
              });
          $.post('/received.json', "Clean the Questions!")
            .done(
              function(data){
                console.log(data);
              })
            .fail(
              function(error){
                throw error;
              });
          setTimeout(function() {
            questions = "";
            waitForQuestions();
          }, 500);
        
      } else if (currentquestion < questions.length){
        nextQuestion();
      } else {
        throw "Error: This state should not be reached!";
      }
    }

    var submitbutton;

    function setupButtons(){
      $('.choices').on('click', function(){
        picked = $(this).attr('data-index');
        $('.choices').removeAttr('style').css({'text-align': 'center'}).off('mouseout mouseover');
        $(this).css({'font-weight':'bold', 'border-color':'#51a351', 'color':'#51a351', 'text-align': 'center'});
          $('#submitbutton').css({'cursor':'pointer', 'text-align': 'center'}).on('click', function(){
            $(this).off('click');
            processQuestion(picked); 
          });
      });
    }

    function waitForQuestions(){
      document.getElementById("pager").innerHTML = "Please Wait!";
      $('#explanation').empty();
      $('#question').empty();
      $('#choice-block').empty();
      $('#submitbutton').remove();
      $('#question').remove(); 
      $('img.question-image').remove();
      $('li').remove();
      
      $(document.createElement('br')).appendTo('#frame');
        $(document.createElement('br')).appendTo('#frame');
        $(document.createElement('br')).appendTo('#frame');
        $(document.createElement('br')).appendTo('#frame');
        $(document.createElement('br')).appendTo('#frame');
        $(document.createElement('br')).appendTo('#frame');

        var element = $(document.createElement('div')).addClass('d-flex justify-content-center').appendTo('#frame');

        element.append($(document.createElement('div')).addClass('spinner-border text-danger').attr('role', 'status').css({ 'width':'12rem', 'height':'12rem', 'display':'inline-flex'}));

        $(document.createElement('br')).appendTo('#frame');
        $(document.createElement('br')).appendTo('#frame');
        $(document.createElement('br')).appendTo('#frame');
        $(document.createElement('br')).appendTo('#frame');
        $(document.createElement('br')).appendTo('#frame');
        $(document.createElement('br')).appendTo('#frame');

        interval = setInterval(function() {
            if (questions !== "" && questions.length !== 0) {
              $('h2').remove();
              $('img').remove();
              $('p').remove();
              $('br').remove();
              $('li').remove();
              $('#explanation').remove();
              $('#question').remove();
              $('#choice-block').empty();
              $('#choice-block').remove();
              $('choice').remove();
              $('btn').remove();
              $('#submitbutton').remove();
              $('#question').remove(); 
              $('br').remove();
              $('.spinner-border').remove();
              $('.d-flex').remove();
              currentquestion = 0;
              answers = {};
              initQuestion();
            }
          }, 500);
    }

    function endQuestions(){
      var endQuestions = "Thank you for your answers!!!";
      document.getElementById("pager").innerHTML = endQuestions;
      $('#explanation').empty();
      $('#question').empty();
      $('#choice-block').empty();
      $('#submitbutton').remove();
      $('#question').text("Please now go to the administration.");    
    }

    function initQuestion(){

      if(typeof interval !== "undefined") {
        clearInterval(interval);
        interval = undefined;
      }

      $(document.createElement('img')).addClass('clinico-logo').attr('id', 'logo').attr('src', CLI.replace('localhost', HOST)).attr('style', 'float:right').appendTo('#frame');
      $(document.createElement('br')).appendTo('#frame');
      $(document.createElement('br')).appendTo('#frame');
      $(document.createElement('br')).appendTo('#frame');
      $(document.createElement('h2')).attr('id', 'header').appendTo('#frame');

      //add pager and questions
      if(typeof questions !== "undefined" && questions !== "" && questions.length !== 0){
        //add pager
        $(document.createElement('p')).addClass('pager').attr('id','pager').text('Question 1 of ' + questions.length).appendTo('#frame');
        //add first question
        $(document.createElement('h3')).addClass('question').attr('id', 'question').text(questions[0][language]['question']).appendTo('#frame');
        //add image if present
        if(questions[0].hasOwnProperty('image') && questions[0]['image'] != ""){
          $(document.createElement('img')).addClass('question-image').attr('id', 'question-image').attr('src', questions[0]['image'].replace("localhost", HOST)).attr('alt', htmlEncode(questions[0][language]['question'])).appendTo('#frame');
        }
        
        //$(document.createElement('p')).addClass('explanation').attr('id','explanation').html('').appendTo('#frame');

        $(document.createElement('br')).appendTo('#frame');
        $(document.createElement('br')).appendTo('#frame');
        
        //questions holder
        $(document.createElement('ul')).attr('id', 'choice-block').appendTo('#frame');
        
        //add choices
        addChoices(questions[0][language]['choices']);
        
        //add submit button
        $(document.createElement('a')).addClass('list-group-item list-group-item-action list-group-item-success').attr('id', 'submitbutton').text('Submit').css({'font-weight':'bold', 'text-align': 'center'}).appendTo('#frame');
        
        setupButtons();
      } else {

      	$(document.createElement('p')).addClass('pager').attr('id','pager').text('Please Wait!').appendTo('#frame');

      	$(document.createElement('br')).appendTo('#frame');
        $(document.createElement('br')).appendTo('#frame');
        $(document.createElement('br')).appendTo('#frame');
        $(document.createElement('br')).appendTo('#frame');
        $(document.createElement('br')).appendTo('#frame');
        $(document.createElement('br')).appendTo('#frame');

        var element = $(document.createElement('div')).addClass('d-flex justify-content-center').appendTo('#frame');

        element.append($(document.createElement('div')).addClass('spinner-border text-danger').attr('role', 'status').css({ 'width':'12rem', 'height':'12rem', 'display':'inline-flex'}));

        $(document.createElement('br')).appendTo('#frame');
        $(document.createElement('br')).appendTo('#frame');
        $(document.createElement('br')).appendTo('#frame');
        $(document.createElement('br')).appendTo('#frame');
        $(document.createElement('br')).appendTo('#frame');
        $(document.createElement('br')).appendTo('#frame');

        interval = setInterval(function() {
            if (questions !== "" && questions.length !== 0) {
              $('br').remove();
              $('img').remove();
              $('.spinner-border').remove();
              $('.d-flex').remove();
              $('h2').remove();
              $('pager').empty();
              $('p').remove();
              initQuestion();
            }
        }, 500);
      }
    }

    function startQuestions(){
      if (language !== '') {
        $('img').remove();
        $('br').remove();
        $('h3').remove();
        $('h2').remove();
        initQuestion();
      }
    }

    function proceesStaticQuestion() {
    	// ToDo: answer of static question
    	$('#submitbutton').remove();
    	startQuestions();
    }

    function staticQuestionRender(){
    	if (language !== '') {
        	$('img').remove();
        	$('br').remove();
        	$('h3').remove();
        	$('h2').remove();

        	$(document.createElement('img')).addClass('clinico-logo').attr('id', 'logo').attr('src', CLI.replace('localhost', HOST)).attr('style', 'float:right').appendTo('#frame');
      		$(document.createElement('br')).appendTo('#frame');
      		$(document.createElement('br')).appendTo('#frame');
      		$(document.createElement('br')).appendTo('#frame');
      		$(document.createElement('h2')).attr('id', 'header').appendTo('#frame');

      		$(document.createElement('h2')).text(staticQuestion[language]).css({'text-align':'center'}).appendTo('#frame');
        	$(document.createElement('br')).appendTo('#frame');

        	$(document.createElement('img')).addClass('question-homeImage').attr('id', 'question-homeImage').attr('src', BODY.replace('localhost', HOST)).attr('alt', htmlEncode('homePage')).appendTo('#frame');

        	$(document.createElement('br')).appendTo('#frame');

        	$(document.createElement('a')).addClass('list-group-item list-group-item-action list-group-item-success').attr('id', 'submitbutton').text('Proceed').css({'font-weight':'bold', 'text-align': 'center'}).appendTo('#frame');

          	$('#submitbutton').on('click', function(){
            	$('.choice').off('click');
            	$(this).off('click');
            	proceesStaticQuestion();
          	});
        }
    }

    function chooseLanguage(){
    	$(document.createElement('img')).addClass('clinico-logo').attr('id', 'logo').attr('src', CLI.replace('localhost', HOST)).attr('style', 'float:right').appendTo('#frame');
      		$(document.createElement('br')).appendTo('#frame');
      		$(document.createElement('br')).appendTo('#frame');
      		$(document.createElement('br')).appendTo('#frame');
      		$(document.createElement('h2')).attr('id', 'header').appendTo('#frame');

          $(document.createElement('h3')).text('Choose a language!').appendTo('#frame');

          $(document.createElement('br')).appendTo('#frame');
          $(document.createElement('br')).appendTo('#frame');
          $(document.createElement('br')).appendTo('#frame');
          $(document.createElement('br')).appendTo('#frame');

          var en = $(document.createElement('img')).addClass('question-flag').attr('id', 'question-flag').attr('src', enIMG.replace('localhost', HOST)).attr('style', 'float:left').appendTo('#frame');
          var de = $(document.createElement('img')).addClass('question-flag').attr('id', 'question-flag').attr('src', deIMG.replace('localhost', HOST)).attr('style', 'float:right').appendTo('#frame');
          var es = $(document.createElement('img')).addClass('question-flag').attr('id', 'question-flag').attr('src', esIMG.replace('localhost', HOST)).attr('style', 'float').appendTo('#frame');

          $(document.createElement('br')).appendTo('#frame');
          $(document.createElement('br')).appendTo('#frame');

          var tr = $(document.createElement('img')).addClass('question-flag').attr('id', 'question-flag').attr('src', trIMG.replace('localhost', HOST)).attr('style', 'float:left').appendTo('#frame');
          var bg = $(document.createElement('img')).addClass('question-flag').attr('id', 'question-flag').attr('src', bgIMG.replace('localhost', HOST)).attr('style', 'float:right').appendTo('#frame');
          var ru = $(document.createElement('img')).addClass('question-flag ').attr('id', 'question-flag').attr('src', ruIMG.replace('localhost', HOST)).attr('style', 'float').appendTo('#frame');

          $(document.createElement('br')).appendTo('#frame');
          $(document.createElement('br')).appendTo('#frame');
          $(document.createElement('br')).appendTo('#frame');
          $(document.createElement('br')).appendTo('#frame');

          en.on('click', function() {
            language = 'en';
            if (staticQ)
            	staticQuestionRender();
            else
            	startQuestions();
          });
          de.on('click', function() {
            language = 'de';
            if (staticQ)
            	staticQuestionRender();
            else
            	startQuestions();
          });
          es.on('click', function() {
            language = 'es';
            //language = 'en'; 
            if (staticQ)
            	staticQuestionRender();
            else
            	startQuestions();
          });
          tr.on('click', function() {
            language = 'tr';
            //language = 'en'
            if (staticQ)
            	staticQuestionRender();
            else
            	startQuestions();

          });
          bg.on('click', function() {
            language = 'bg';
            //language = 'en';
            if (staticQ)
            	staticQuestionRender();
            else
            	startQuestions();
          });
          ru.on('click', function() {
            language = 'ru';
            //language = 'en';
            if (staticQ)
            	staticQuestionRender();
            else
            	startQuestions();
          });
    }

    function init(){
      
      $(document.createElement('img')).addClass('clinico-logo').attr('id', 'logo').attr('src', CLI.replace('localhost', HOST)).attr('style', 'float:right').appendTo('#frame');
      $(document.createElement('br')).appendTo('#frame');
      $(document.createElement('br')).appendTo('#frame');
      $(document.createElement('br')).appendTo('#frame');
      $(document.createElement('h2')).attr('id', 'header').appendTo('#frame');

      //add pager and questions
      if(typeof questions !== "undefined"){
        //add first question

        $(document.createElement('br')).appendTo('#frame');
        $(document.createElement('br')).appendTo('#frame');
        $(document.createElement('br')).appendTo('#frame');
        $(document.createElement('br')).appendTo('#frame');

        $(document.createElement('img')).addClass('question-homeImage').attr('id', 'question-homeImage').attr('src', MRI.replace('localhost', HOST)).attr('alt', htmlEncode('homePage')).appendTo('#frame');

        $(document.createElement('br')).appendTo('#frame');
        $(document.createElement('br')).appendTo('#frame');
        $(document.createElement('br')).appendTo('#frame');
        $(document.createElement('br')).appendTo('#frame');
        $(document.createElement('br')).appendTo('#frame');
        $(document.createElement('br')).appendTo('#frame');
        $(document.createElement('br')).appendTo('#frame');
        $(document.createElement('br')).appendTo('#frame');

        //$(document.createElement('img')).addClass('question-button').attr('id', 'question-button').attr('src', "http://www.clker.com/cliparts/a/C/M/J/6/Y/start-hi.png").attr('onmouseover', '').attr('style', 'cursor:pointer').appendTo('#frame');

        var start = $(document.createElement('div')).addClass('col text-center').appendTo('#frame');

        start.append($(document.createElement('button')).addClass('btn btn-success btn-xl').attr('id', 'start-button').text('Start').attr('onmouseover', '').attr('style', 'cursor:pointer').css({'float':'center'}));

        $('.btn').on('click', function() {
          	$('img').remove();
          	$('button').remove();
          	$('br').remove();
          	$('h2').remove();
          	$('h3').remove();

			chooseLanguage();
        });
      }
    }
  
    init();
  
  });
    
  jQuery(document).ready(function($){     
    $("#question").html(function(){
    var text= $(this).text().trim().split(" ");
    var first = text.shift();
      return (text.length > 0 ? "<span class='number'>"+ first +"</span> " : first) + text.join(" ");
    });
    
    $('p.pager').each(function(){
      var text = $(this).text().split(' ');
      if(text.length < 2)
        return;
      
      text[1] = '<span class="qnumber">'+text[1]+'</span>';
      $(this).html(
        text.join(' ')
      );
    });

  }); 

    function copyText() {
      var output = document.getElementById("frame").innerHTML;
      document.getElementById("placecontent").value = output;
    }
      
    </script>
    <style type="text/css" media="all">
    input                           { height:30px !important; }
    input[type=checkbox]                  { height:30px !important; margin-top:-3px !important; margin-right:5px !important; box-shadow:none; background-color:#ffffff; position:relative !important; }
    textarea                        { width: 90%; margin: 0 auto; display: block; }
    input[type=radio]                   { height:30px !important; margin-top:-3px !important; margin-right:5px !important; box-shadow:none; background-color:#ffffff; position:relative !important; }
    .form-group input, .form-group select           { height:30px; padding: 0px 12px; }
    .form-horizontal .form-group              { margin:10px; }
    .formContainer .formControlLabel            { width:auto !important; min-width:150px; margin:0; padding:0; }
    .formControls                     { width:100%; padding:0; margin: 10px 0 20px auto; }
    .radio                          { padding-top:0 !important; padding-left:8px !important; }
    .radio-inline                     { margin-right:10px; padding-top:0 !important; display:inline; }
    .bold                         { font-weight:bold; }
    .italic                         { font-style:italic; }
    .clear                          { width:100%; margin:0 !important; }
    .rsform-block-submit                  { display:none; }
    .show                           { display: block !important; }
/*    .rsform-block-placecontent                { display:none; } */
    #submit                         { margin:0 auto; display:block; }

    /* QUESTIONS STYLES */
    ol,ul                           { list-style:none; }
    strong                          { font-weight:700; }
    #frame                          { width:auto; max-width: 800px; background:transparent; margin:3px auto; padding:10px; color:#333 !important; }
    div#frame h2                      { width:auto; border-bottom:1px solid #bdbdbd; padding:0 0 5px 0; font-size:30px; text-align: left;}
    h3.question                       { font-weight:normal; margin:20px 0; padding:0; font-style:italic; display:block; }
    p.pager                         { margin:5px 0 5px; color:#999; text-align:right; }
    .qnumber                        { font-size:25px; font-weight:bold; font-style:italic; vertical-align:bottom; }
    .number                         { font-size:25px; font-weight:bold; font-style:normal; vertical-align:inherit; padding-right:10px; }
    img.question-image                    { width:350px; display:block; max-height:350px; max-height:350px; margin:10px auto; border:2px solid #ccc; }
    .question-button                    { width:50%; height:auto; display:block; max-width:150px; margin:10px auto; border:0px solid #ccc; cursor:pointer; }
    .question-flag                      { width:80%; height:auto; display:block; max-width:180px; max-height:100px; margin:10px auto; border:1px solid #ccc; }
    .question-homeImage                   { width:300%; height:auto; display:block; max-width:700px; margin:10px auto; border:0px solid #ccc; }
    .clinico-logo					{ width:100%; height:auto; display:block; max-width:150px; max-height:150px; margin:10px auto; border:0px solid #ccc; }
    #choice-block                       { display:block; list-style:none; margin:0; padding:0; cursor: pointer; }
  /*  #submitbutton                       { cursor:pointer; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; } */
  /*  #submitbutton:hover                   { background:#7b8da6; } */
    #explanation                      { width:auto; min-height:100px; margin:0 auto; padding:20px 0; text-align:center; }
    #explanation span                     { font-weight:bold; padding-right:8px; }
    .choice                         { font-weight:bold; font-size:150%; margin:20px 0; padding:0; font-style:italic; display:block; }
    .choice-box                       { width:100%; height:30px;  display:block;  text-align:center;  margin:5px auto !important; padding:10px 0 !important; border:1px solid #bdbdbd; }
    .correct                        { color:#51a351; font-size: 20px; display: block; margin-bottom: 5px; border-bottom: 1px #51a351 solid; padding-bottom: 5px; }
    .incorrect                        { color:#f93939; font-size: 20px; display: block; margin-bottom: 5px; border-bottom: 1px #f93939 solid; padding-bottom: 5px; }
    button.btn-xl 					{ padding: 30px 70px; font-size: 25px; border-radius: 10px; float: center;}
    </style>
</head>
<body>
<div class="form-group rsform-block rsform-block-framecontent">
    <div id="frame" role="content"></div>
</div>
<hr>

 
  
<div class="col-sm-6 formControls rsform-block-submit">
  <button type="submit" name="form[submit]" id="submit" onclick="copyText()" class="rsform-submit-button  btn btn-primary">Submit Answers</button>      
</div> 

</body>
</html>
